<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seg3525_project.pdfviewer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-brary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="E-brary"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BrowseActivity"
            android:label="Browse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CartActivity"
            android:label="Cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BorrowedBooksActivity"
            android:label="Borrowed Books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="Create Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="Password Recovery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BookInfoActivity"
            android:label="Book Info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PDFActivity"
            android:label="Book"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>